<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-add 
            [addItemSelected]="listItemSelected"
            (cleared)="onCleared()"
        ></app-shopping-list-add>
        <ul class="list-group">
            <a  class="list-group-item interactive" 
                *ngFor="let ingredient of ingredients"
                (click)="onSelectItem(ingredient)"
            >
            {{ ingredient.amount }} x {{ ingredient.name }}
            </a>
        </ul>
    </div>
</div>
